<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login to Pingmyhusky</title>
</head>

<body>
  <p>Login -</p>
  <input type="text" id="username" placeholder="Username">
  <input type="password" id="password" placeholder="Password">
  <button id="login-button" onclick="login()">Login</button>
  <p id="login-error-log"></p>
  <script src="/js/login.js"></script>
</body>

</html>